
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{

    background-color: #c4a47c;/*e5cdb5*/
    height: 100%;
}

.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #0b0101;

}

a{
    text-decoration: none;

}

.degrade{
    background: linear-gradient(to right, #028227, #016b1f);
    color: #584239;
}

.degrade{
    background: linear-gradient(to right, #584239, #957061);/*CBAD8D*/
}

/* ESTILO DO HEADER */

header{
    text-align: center;
    margin-bottom: 40px;
}

header img{

    max-width: 140px;
    margin-bottom: 20px;
    border-radius: 50%;
}

header h1{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 6px;
    color: #0b0101;
    font-weight: 30;

}

/* ESTILO DOS BOTÕES */

section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}


a.link button{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    cursor: pointer;
    color: #FFF;
    transition: .2s; /*efeito gradiente  */

}

a.link i{
    font-size: 1.5em;
}

a.link button:hover, footer a.btn-footer:hover{
    transform: scale(1.05);
}

/* ESTILO DO FOOTER */

footer{
    text-align: center;
    margin: 30px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display:inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .2s;
}
.btn-footer{
    color: #584239;

}
